body{
    /* background-image: url("images/images4.jpg"); */
    background-color: rgb(212, 200, 191);
    background-repeat: no-repeat;
    width: 50%;
    height: 50vh;
    background-size:cover;
    background-attachment: fixed;
    
}

.butt{
    position: relative; 
    margin-top: 10px; 
    border-radius: 5px;
}

h1{
    padding-left: 30%;
}

.butt1{
    background-color: blue;
    padding: 20px;
    border-radius: 40%;
}

.butt2{
    background-color: red;
    padding: 20px;
    border-radius: 40%;
}