<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css') }}" type="text/css">

</head>

<body>
    <center>
    <div class="butt" style="height: 6cm; width: 7cm; border-radius: 14px; margin-left: 14cm; margin-top: 5cm;">
    <h1 style="font-family: 'Gill Sans'; font-size:x-large; padding: 3%; color: rgb(59, 54, 54);">YOU WANT TO:</h1>
    <a href="/register"><button class="butt1">Register Student</button></a>
    <h1 style="margin-right: 27%;">OR</h1>
    <a href="/list"><button class="butt2">View Student</button></a>
</center>
</div>
</body>
</html>