<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/profile.css') }}" type="text/css">
</head>
<body>

        <div  style="background-color: rgb(0, 0, 0); height: 6cm; width: 6cm; border-radius: 14px; margin-left: 15cm; margin-top: 5cm;">

    <br>
    
    <a href="/payment"><button style="color: red">>>>Tap to Make Payment</button></a>
</div>
</center>

</body>
</html>